body {
    background-color: grey;
}
hr {
    color: black;
}
.show-more-gifs {
    display: none;
}
#button-container {
    background-color: white;
    border: 2px black solid;
}
#gif-display {
    background-color: lightblue;
    border: 2px black solid;
    display: flex;
    flex-flow: row wrap;
}
#search-field {
    background-color: lightcoral;
    border: 2px black solid;
}